    html {
        box-sizing: border-box;
    }

    *, *::after, *::before {
        -webkit-box-sizing: inherit;
        box-sizing: inherit;
    }

    body {
        background-color: black;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 40% 50%;
    }

    .boton_arriba {
        position: fixed;
        top: 0;
        left: 48%;
    }

    .boton_abajo {
        position: fixed;
        bottom: 0;
        left: 48%;
    }

    .boton_arriba img, .boton_abajo img {
        padding-top: 1rem;
        height: 50px;
        width: 40px;
    }

    .principal {
        min-height: 95vh;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .logo_xanic {
        position: relative;
        padding-right: 2rem;
        z-index: 2;
        min-width: 10%;
    }

    .logo_xanic img {
        width: 90px;
        height: 90px;
    }

    .contenido_gran_ricardo {
        padding-top: 3rem;
        min-height: 90vh;
        max-height: 100vh;
        min-width: 80%;
        max-width: 90%;
        
    }

    .cajita {
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
    
    }



    .rostro {
        flex: 0 1 calc(50% -1rem);
        text-align: right;
        padding-right: 2rem;
    }

    .rostro img {
        width: 75%;
    }

    .texto {
        flex: 0 1 calc(50% -1rem);
        text-align: left;
    }

    .texto img {
        width: 75%;
    }

    #cajita2,#cajita3,#cajita4{
        display: none;
    }



    #cajita2 .rostro img {
        width: 85%;
    }

    #cajita3 {
        padding-left: 5rem;
    }
    #cajita3 .rostro{
        text-align: center;
        margin-right: 1rem;
    
    }
    #cajita3 .rostro img {
        width: 100%;
        max-height: 90vh;
    }

    #cajita4 .rostro  {
    padding: 0rem;
    }








    @media(min-width:1000px) {

        .rostro img {
            width: 90%;
        }
        
        .texto img {
            width: 90%;
        }
    
    }

    @media(min-width:850px) {

        .rostro img {
            width: 90%;
        }
        
        .texto img {
            width: 90%;
        }
    
    }
    @media(min-width:1350px) {

        .rostro img {
            width: 75%;
        }
        
        .texto img {
            width: 75%;
        }
        
    }
    @media(min-width:1500px) {

        .rostro img {
            width: 100%;
        }
        
        .texto img {
            width: 100%;
        }
    }


    /* d4ni3l.krok */

    /* NAVEGACION */

    .navegacion_gran_ricardo img {
        width: 8rem;
        height: 6rem;
    }
    