html {
    box-sizing: border-box;
}

*, *::after, *::before {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

body {
    background-size: cover;
    background-color: black;
    background-repeat: no-repeat;
    background-position: center bottom;
    background-attachment: fixed;
    margin: 0;
    /*  background-image: url("./img/pagina3/fondo.png"); */
}

.principal {
    min-height: 100vh;
    max-width: 75%;
    display: flex;
    flex-direction: column;
}

.principal .fondo {
    position: absolute;
    z-index: -1;
}

.principal .fondo img {
    min-height: 99.3vh;
    min-width: 100vw;
    max-width: 100vw;
    max-height: 99.6vh;
}

.content1 {
    text-align: end;
    padding-top: 5rem;
    flex: 0 1 calc(20% - 1rem);
}

.content1 img {
    padding-right: 0.5rem;
    max-height: 6rem;
}

.content2 {
    width: 100%;
    flex: 0 1 calc(60% - 1rem);
}

.content2 img {
    width: 100%;
}

.content3 {
    flex: 1;
    padding-top: 3rem;
    padding-left: 2rem;
}

.content3 .elementos {
    max-height: 50%;
    display: flex;
}

.content3 .elementos img {
    max-width: 100%;
}

.content3 .elementos .logoX {
    padding-top: 3rem;
    flex: 0 1 calc(12% - 1rem);
    padding-right: 1rem;
}

.content3 .elementos .premios {
    flex: 0 1 calc(38% - 1rem);
}

.content3 .elementos .descText {
    flex: 1;
    text-align: right;
}

.content3 .elementos .logoX img {
    width: 60px;
    height: 60px;
}

.boton_arriba {
    position: fixed;
    top: 0;
    left: 48%;
}

.boton_abajo {
    position: fixed;
    bottom: 0;
    left: 48%;
}

.boton_arriba img, .boton_abajo img {
    padding-top: 1rem;
    height: 50px;
    width: 40px;
}

.navegacion {
    position: fixed;
    right: 0;
    top: 40%;
}

.navegacion img {
    width: 200px;
    height: 100px;
}

@media(min-width:768px) {
    .content3 .elementos .logoX {
        padding-top: 3rem;
    }
    .content3 .elementos .logoX img {
        width: 70px;
        height: 70px;
    }
}

@media(min-width:1000px) {
    .content3 .elementos .logoX {
        padding-top: 3rem;
    }
    .content3 .elementos .logoX img {
        width: 70px;
        height: 70px;
    }
}

@media(min-width:1200px) {
    .content3 .elementos .logoX {
        padding-top: 5rem;
    }
    .content3 .elementos .logoX img {
        width: 80px;
        height: 80px;
    }
    .navegacion {
        position: fixed;
        right: 0;
        top: 45%;
    }
}

@media(min-width:1500px) {
    .content3 .elementos .logoX {
        padding-top: 7rem;
    }
    .navegacion {
        top: 38%;
    }
    .content3 .elementos .logoX img {
        width: 80px;
        height: 80px;
    }
}

.animate-in {
    -webkit-animation: fadeIn 1s ease-in;
    animation: fadeIn 1s ease-in;
}

.animate-out {
    -webkit-transition: opacity 1s;
    transition: opacity 1s;
    opacity: 0;
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
