html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*, *::after, *::before {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

body {
    padding: 0;
    margin: 0;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: black;
}

.boton_arriba {
    padding-top: 0.3rem;
    position: fixed;
    top: 0;
    left: 49%;
}

.boton_abajo {
    padding-bottom: 0.3rem;
    position: fixed;
    bottom: 0;
    left: 48%;
}

.boton_arriba img, .boton_abajo img {
    padding-top: 1rem;
    height: 50px;
    width: 40px;
}

.final {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.final div{
    text-align: center;
}
.final img {
    max-width: 65%;
}

.animate-in {
    -webkit-animation: fadeIn 1s ease-in;
    animation: fadeIn 1s ease-in;
}

.animate-out {
    -webkit-transition: opacity 1s;
    transition: opacity 1s;
    opacity: 0;
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
