html {
    box-sizing: border-box;
}

*, *::after, *::before {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

body {
    background-size: cover;
    background-color: black;
    background-repeat: no-repeat;
    background-position: center bottom;
    background-attachment: fixed;
    margin: 0;
    /*  background-image: url("./img/pagina3/fondo.png"); */
}

.contenido_todo {
    display: flex;
    align-items: center;
}

.principal {
    min-height: 90vh;
    max-width: 75%;
    display: flex;
    flex-direction: column;
}

.content1 {
    text-align: end;
    padding-top: 3rem;
    flex: 0 1 calc(20% - 1rem);
}

.content1 img {
    padding-right: 0.5rem;
    max-height: 6rem;
}

.content2 {
    width: 100%;
    flex: 0 1 calc(60% - 1rem);
}

.content2 img {
    width: 100%;
}

.content3 {
    flex: 1;
    display: flex;
    justify-content: space-between;
    padding-top: 5rem;
    align-items: flex-start;
}

.content3 img {
    max-width: 200px;
}

.boton_arriba {
    position: fixed;
    top: 0;
    left: 48%;
}

.boton_abajo {
    position: fixed;
    bottom: 0;
    left: 48%;
}

.boton_arriba img, .boton_abajo img {
    padding-top: 1rem;
    height: 50px;
    width: 40px;
}

.imagen_rara {
    position: fixed;
    top: -10%;
    left: 70%;
    z-index: -1;
    width: 500px;
    height: 800px;
}

.navegacion{
    position: fixed;
    right: 0;
    top: 40%;

}
.navegacion img{
    width: 250px;
    height: 100px;
}

.descText img{
    max-height: 350px;
    max-width: 500px;
}

.premios {
    position: fixed;
    top: 25%;
    right: 65%;


}

.premios img {
    max-width: 800px;
    max-height: 900px;

}

.logoX img {
    padding-left: 1rem;

}

@media(min-height: 750px) {
    .imagen_rara{
        max-height: 670px;
        max-width: 450px;
    }

    .content1 img{
        max-height: 70px;
        max-width: 80px;
    }

    .premios img{
        max-width: 280px;
        max-height: 380px;
    }

    .logoX img{
        max-height: 90px;
        max-width: 100px;
    }

}

@media (min-height: 900px) {

    .imagen_rara{
        max-width: 600px;
        max-height: 900px;
    }

    .content1 img{
        max-height: 90px;
        max-width: 100px;
    }

    .premios img{
        max-width: 380px;
        max-height: 480px;
    }

    .logoX img{
        max-height: 90px;
        max-width: 100px;
    }

}

